.sidebar {
   position: fixed;
   top: 55px;
   left: 0;
   bottom: 0;
   background-color: #fff;
   width: 72px;
   padding-top: 10px;
}

.sidebar-link {
   height: 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   padding-bottom: 5px;
}

.sidebar-link:hover {
   background-color: rgb(235, 235, 235);
}

.sidebar-link img {
   height: 26px;
   margin-bottom: 5px;
}

.sidebar-link p {
   margin-top: 0;
   font-family: 'Roboto', Arial;
   font-size: 10px;
}